@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }

  .clip-slant-left {
    -webkit-clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);
  }
  
  .clip-slant-right {
    -webkit-clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 100%);
  }

}